<div class="container">
  <div class = row>
    <h2 class="col-md-3">ショッピングカート</h2>
    <%= link_to "カートを空にする", cart_product_path, method: :destroy_all, class: "btn btn-danger ml-auto" %>
  </div>
  <div class="row">
    
  </div>
</div>