<div class ="container">
  <div class ="row">
    <div class="mx-auto col-lg-6 p-4">
      <p>ようこそNagano Cakeへ!<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧は可能ですが、<br>
      購入には会員登録が必要になります。</p>
    </div>
  </div>
  
  <h1>新着商品</h1>
  <div class="row">
    <div class="mx-auto">
      ここに新着商品が入ります
      
    </div>
    
  </div>
  
  <div class="row">
    <%= link_to "全ての商品を見る>", products_path, class: "col text-right" %>
  </div>
  
</div>