<div class='container'>
 <div class='row'>
  <h2>商品新規登録</h2>
   <div class="col-md-3">
    <%= attachment_image_tag(@prodact, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %>   
   <div class="col-md-8">    
    　<table>
      <tr>
       <td>商品名</td>
       <td></td>
       <td>
       </td>
      </tr>      